@import 'colors';

%list-menu-txt-button {
	@extend %button;
	@extend %button.small;
	color: $list-caret-color;
}

%list-menu-caret-button {
	@extend %list-menu-txt-button;
	@extend %button.ico;
}

ul.list-menu {
	font-weight: bold;
	color: $list-txt-color;
	overflow: hidden;
	& *::selection {
		background: rgba(0,0,0,0);
	}
	&>li {
		margin-left: 1.25rem;
		&>span.caret {
			@extend %list-menu-caret-button;
		}
		&>span {
			@extend %list-menu-txt-button;
		}
	}
	&.collapsed {
		max-height: 0rem;
		transition: max-height 0.25s ease-out;
	}
	&.expanded {
		max-height: 10rem;
		transition: max-height 0.25s ease-in;
	}
}