@import 'colors';
@import 'txt-button';

ul.list-menu {
	transform-origin: left;
	white-space: nowrap;
	position:relative;
	vertical-align: baseline;
	font-weight: bold;
	color: $list-txt-color;
	overflow: hidden;
	margin-left: auto;
	& *::selection {
		background: rgba(0,0,0,0);
	}
	&>li {
		//
		// margin-left: 1.25rem;
		&>span.caret {
			@extend %outlined-button;
		}
		&>span {
			@extend %outlined-button;
		}
	}
	&.collapsed {
		transition: all 0.125s ease-out;
	}
	&.expanded {
		transition: all 0.125s ease-in;
	}
	&.vertical {
		position:relative;
		&.collapsed {
			&>li {
				max-height: 0rem;
				transition: all 0.125s ease-out;
			}
		}
		&.expanded {
			&>li {
				max-height: 5rem;
				transition: all 0.125s ease-in;
			}
		}
	}
	&.horizontal {
		display: inline-block;
		position:absolute;
		&>li {
			display: inline-block;
		}
		&.collapsed {
			max-width: 0rem;
			transform: scaleX(0);
			transform-origin: left;
			transform: translateX(-10rem);
			opacity: 0;
		}
		&.expanded {
			max-width: 20rem;
		}
	}
}
