@import 'colors';

%tree-menu-txt-button {
	@extend %txt-button;
	&.item {
		font-size: 1rem;
	}
}

%tree-menu-caret-button {
	@extend %tree-menu-txt-button;
	font-size: 1rem;
	display: inline-block;
	transition: all 0.25s;
	color: $list-caret-color;
	cursor: pointer;
}

ul.tree {
	font-weight: bold;
	color: $list-txt-color;
	overflow: hidden;
	& *::selection {
		background: rgba(0,0,0,0);
	}
	&>li {
		margin: 0.25rem;
		padding-left: 0.75rem;
		&ul {
		}
		&>span.caret {
			@extend %tree-menu-caret-button;
		}
		&.collapsed {

			&>span.caret {
			  @extend %tree-menu-caret-button;
		    transform: rotate(-90deg);    
			}
			&>ul {
				max-height: 0rem;
				transition: max-height 0.25s ease-out;
			}
		}
		&.expanded {
			&>span.caret {
			  @extend %tree-menu-caret-button;
		    transform: rotate(-0deg);    
			}
			&>ul {
				max-height: 20rem;
				transition: max-height 0.25s ease-in;
			}
		}
		&.leaf {
			&>span.caret {
				cursor: default;
			}
		}
		&>span {
			@extend %tree-menu-txt-button;
			&.selected {
				background-color: $list-selected-color;
				&:hover {
					background-color: $list-selected-color;
				}
			}
		}
	}
}
