
%button {
	cursor: pointer;
	border-radius: 0.125rem;
	// letter-spacing: -1px;
	padding: 0.125rem;
	margin: 0.03125rem ;
	text-align: center;
	vertical-align: baseline;
	display: inline-block;
	height: 1.3125rem;
	&.ico {
		width: 1.3125rem;
		color: $list-caret-color;
	}
	&.small {
		font-size: 0.85rem;
		height: 1rem;
		&.ico { width: 1rem; }
	}
	&.large {
		font-size: 1.25rem;
		height: 1.5rem;
		&.ico { width: 1.5rem; }
	}
	&.active {
		transition: all 0.25s ease-in-out;
		&:hover {
			background-color: $list-highlight-color;
			transition: all 0.25s ease-in-out;
		}
	}
	&>a {
		cursor: inherit;
		vertical-align: inherit;
	}
}

%outlined-button {
	@extend %button;
	// @extend %button.small;
	color: $list-caret-color;
	background-color: white;
	border-style: solid;
	border-width: 0.0625rem;
	border-color: $list-caret-color;
}

%outlined-caret-button {
	@extend %outlined-button;
	@extend %button.ico;
}

.button {
	@extend %button;
}

.outlined-button {
	@extend %button;
}
